<!DOCTYPE html>
<html  ng-app="TodoApp">
<head lang="en">
   <meta charset="UTF-8">
   <title></title>

   <style>
      .todo-done-true {
         text-decoration: line-through;
      }
   </style>

   <script src="lib/jquery.js"></script>
   <script src="lib/angular-1.4.0-rc.2/angular.js"></script>
</head>
<body>


<div  >
   <div ng-controller="TodoController as vm">

      <ul>
         <li ng-repeat="todo in vm.todos">
            <input type="checkbox" ng-model="todo.done">
            <span class="todo-done-{{todo.done}}">{{todo.title}}</span>
         </li>
      </ul>


      Remaining: {{vm.numberOfRemainingTodos()}} of {{vm.todos.length}}

   </div>
</div>


<script>

   var todoModule = angular.module("TodoApp", []);

   todoModule.controller("TodoController", function() {
      var me = this;

      me.todos = [
         {title: "Haircut", done: false},
         {title: "Milch und Brot kaufen", done: true}];

      me.numberOfRemainingTodos = function() {
         return me.todos.filter(function(todo) {return !todo.done;}).length;
      }
   });
</script>

</body>
</html>